<!DOCTYPE html>
<html>

{% include head.html %}

<body class="hack">

  {% include header.html %}


  <div>
    <div class="grid -around">
      <aside class="cell -2of12" role="navigation">
        {% include navigation.html %}
      </aside>

      <main class="cell -7of12">
        {{ content }}
      </main>

      <aside class="cell -2of12">
        {% include_relative widgets/news-marquee.html %}
      </aside>
    </div>

  </div>
  {% include footer.html %}

  <script src="js/news-ticker.js"></script>
  <script src="js/theme-toggle.js"></script>
</body>

</html>